[class*="col-"] {
  float: left;
  padding: 15px;
  border: 0px solid red;
}

/* Mobile viewport */
[class*="col-"] {
  width: 100%;
}

/* Tablet viewport */
@media only screen and (min-width: 600px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}

/*Desktop viewport*/
@media only screen and (min-width: 769px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  margin: 0;
}

/* Mobile and tablet */
body {
  background-image: url('img/backgroundvector.svg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: 50% auto;
  -moz-background-size: 50% auto;
  -o-background-size: 50% auto;
  background-size: 50% auto;
  background-position: 96% 96%; 
}

/* Desktop */
@media only screen and (min-device-width: 769px) {
  body {
    background-image: url('img/backgroundvector.svg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size: 50% auto;
    -moz-background-size: 50% auto;
    -o-background-size: 50% auto;
    background-size: 50% auto;
    background-position: 90% 90%;
  }
}

h1, h3, p {
  font-family: Verdana;
}
  
h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ee799f;
}

#box {
  background-color: rgba(255,105,180,0.25);
  border-radius: 8px;
  min-height: 10vw;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}