<!doctype html>
<html lang="nl-NL">

<head>

  {{ partial "head.html" . }}

</head>

<body class="d-flex flex-column bg-img-primary">

  {{ partial "skippy.html" . }}

  {{ partial "header.html" . }}

  <main id="content" class="flex-shrink-0">
    <div class="container">

      <nav aria-label="breadcrumb" class="d-none d-md-flex">
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
      </nav>

      {{ partial "alert.html" . }}

      {{ partial "photobanner.html" . }}

      <div class="row bg-row pt-3">
        <div class="col-md-8">

          {{.Content}}

        </div>
        <div class="col-md-4">
          <div class="card border-primary mb-3">
            <div class="card-body text-primary">
              <h4 class="card-title mb-3">Afspraak maken</h4>
              <p class="card-text mb-3">
                Online een afspraak maken is binnenkort
                beschikbaar
              </p>
              <a href="#" class="btn btn-primary btn-block">Maak een afspraak!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}
  <span class="d-none">home</span>
</body>

</html>
