<!DOCTYPE html>
<html lang="en">

<head>

  {{ partial "head.html" . }}

</head>

<body>

  <header
    class="navbar navbar-expand navbar-light bg-white bd-navbar flex-column flex-md-row bd-navbar justify-content-md-around">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Sweet Feet logo">

      {{ partial "branding.html" . }}

    </a>
    <div class="navbar-nav-scroll" id="navbar">
      <div class="navbar-nav flex-row">
        <a style="font-size: .9rem;" class="nav-link" href="/">Home</a>
        <a style="font-size: .9rem;" class="nav-link" href="#">Behandeling</a>
        <a style="font-size: .9rem;" class="nav-link" href="/over_esther">Over Esther</a>
        <a style="font-size: .9rem;" class="nav-link" href="#">Afspraak</a>
      </div>
    </div>
  </header>

  <main id="content" class="flex-shrink-0">
    <div class="container">

      {{ .Content }}

    </div>
  </main>

  {{ partial "scripts.html" . }}

  <span class="d-none">list</span>
</body>

</html>
