<!DOCTYPE html>
<html lang="en">

<head>

  {{ partial "head.html" . }}

</head>

<body>

  {{ partial "skippy.html" . }}

  {{ partial "header.html" . }}

  <main id="content" class="flex-shrink-0">
    <div class="container">

      <nav aria-label="breadcrumb" class="d-none d-md-flex">
        <ol class="breadcrumb bg-white">
          <li class="breadcrumb-item"><a class="text-primary" href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
        </ol>
      </nav>

      {{ partial "alert.html" . }}

      {{ .Content }}

    </div>
  </main>

  {{ partial "footer.html" . }}

  {{ partial "scripts.html" . }}

  <span class="d-none">list</span>
</body>

</html>
