/* *, *:before, *:after { ... } */
/* html { ... } */
body {
  font-family: 'Open Sans', 'Merriweather', sans-serif;
}

.font1 {
  font-family: 'Merriweather', serif;
}

.font2 {
  font-family: 'The Girl Next Door', cursive;
}

.brand {
  font-size: inherit;
  width: fit-content;
}

.bg {
  background: url('img/backgroundvector.svg') no-repeat center fixed;
  background-size: 50vmin;
}

.h_shadow {
  text-shadow: -1px 0 1px #8b3a62, 1px 0 1px #8b3a62, 0 -1px 1px #8b3a62, 0 1px 1px #8b3a62;
  -webkit-text-shadow: -1px 0 1px #8b3a62, 1px 0 1px #8b3a62, 0 -1px 1px #8b3a62, 0 1px 1px #8b3a62;
  -moz-text-shadow: -1px 0 1px #8b3a62, 1px 0 1px #8b3a62, 0 -1px 1px #8b3a62, 0 1px 1px #8b3a62;
}