/* *, *:before, *:after { ... } */
/* html { ... } */
body {
  font-family: 'Open Sans', 'Merriweather', sans-serif;
}

.font1 {
  font-family: 'Merriweather', serif;
}

.font2 {
  font-family: 'The Girl Next Door', cursive;
}

.brand-container {
  width: fit-content;
  font-size: inherit;
}

.brand {
  font-size: inherit;
}

.brand-small {
  font-size: 1em;
}

.bg {
  background: url('img/backgroundvector.svg') no-repeat bottom right fixed;
  background-size: 50vmin;
}

div.bg-row {
  background-color: rgba(255, 255, 255, 0.5);
}

.h-shadow {
  text-shadow: -1px 0 1px #8b3a62, 1px 0 1px #8b3a62, 0 -1px 1px #8b3a62, 0 1px 1px #8b3a62;
  -webkit-text-shadow: -1px 0 1px #8b3a62, 1px 0 1px #8b3a62, 0 -1px 1px #8b3a62, 0 1px 1px #8b3a62;
  -moz-text-shadow: -1px 0 1px #8b3a62, 1px 0 1px #8b3a62, 0 -1px 1px #8b3a62, 0 1px 1px #8b3a62;
}