/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * aisha-latin:
 *   - http://typekit.com/eulas/00000000000000003b9ad527
 * ff-cocon-pro:
 *   - http://typekit.com/eulas/00000000000000003b9b04fd
 * grafolita-script:
 *   - http://typekit.com/eulas/00000000000000003b9afbdb
 * marydale:
 *   - http://typekit.com/eulas/00000000000000003b9b14fa
 * mr-eaves-sans:
 *   - http://typekit.com/eulas/00000000000000003b9adbca
 * mrs-eaves-xl-serif:
 *   - http://typekit.com/eulas/00000000000000003b9adc13
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */

/* {"last_published":"2019-07-11 06:58:01 UTC"} */

// stylelint-disable scss/dollar-variable-default, font-family-name-quotes
@font-face {
  font-family: "grafolita-script";
  font-style: normal;
  font-weight: 400;
  src: url("https://use.typekit.net/af/a4864f/00000000000000003b9afbdb/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/a4864f/00000000000000003b9afbdb/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff");
}

@font-face {
  font-family: "aisha-latin";
  font-style: normal;
  font-weight: 400;
  src: url("https://use.typekit.net/af/793137/00000000000000003b9ad527/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/793137/00000000000000003b9ad527/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff");
}

@font-face {
  font-family: "marydale";
  font-style: normal;
  font-weight: 400;
  src: url("https://use.typekit.net/af/366589/00000000000000003b9b14fa/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/366589/00000000000000003b9b14fa/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff");
}

@font-face {
  font-family: "mr-eaves-sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://use.typekit.net/af/49cf3f/00000000000000003b9adbca/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/49cf3f/00000000000000003b9adbca/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff");
}

@font-face {
  font-family: "mrs-eaves-xl-serif";
  font-style: normal;
  font-weight: 400;
  src: url("https://use.typekit.net/af/285b02/00000000000000003b9adc13/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/285b02/00000000000000003b9adc13/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff");
}

@font-face {
  font-family: "ff-cocon-pro";
  font-style: normal;
  font-weight: 400;
  src: url("https://use.typekit.net/af/de356f/00000000000000003b9b04fd/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/de356f/00000000000000003b9b04fd/27/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff");
}

.tk-grafolita-script {
  font-family: "grafolita-script", sans-serif;
}

.tk-aisha-latin {
  font-family: "aisha-latin", sans-serif;
}

.tk-marydale {
  font-family: "marydale", sans-serif;
}

.tk-mr-eaves-sans {
  font-family: "mr-eaves-sans", sans-serif;
}

.tk-mrs-eaves {
  font-family: "mrs-eaves-xl-serif", serif;
}

.tk-ff-cocon-pro {
  font-family: "ff-cocon-pro", sans-serif;
}

@font-face {
  font-family: "Crafty Girls";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Crafty Girls Regular"), local("CraftyGirls-Regular"),
    url("https://fonts.gstatic.com/s/craftygirls/v8/va9B4kXI39VaDdlPJo8N_NveRhf6.woff2")
      format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Merriweather Regular"), local("Merriweather-Regular"),
    url("https://fonts.gstatic.com/s/merriweather/v20/u-440qyriQwlOrhSvowK_l5-ciZMZ-Y.woff2")
      format("woff2");
  unicode-range: u+0100-024f, u+0259, u+1e00-1eff, u+2020, u+20a0-20ab,
    u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff;
}

@font-face {
  font-family: "The Girl Next Door";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("The Girl Next Door"), local("TheGirlNextDoor"),
    url("https://fonts.gstatic.com/s/thegirlnextdoor/v9/pe0zMJCIMIsBjFxqYBIcZ6_OI5oFHCY4ULF6.woff2")
      format("woff2");
  unicode-range: u+0000-00ff, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}

.gf-crafty-girls {
  font-family: "Crafty Girls";
}

.gf-merriweather {
  font-family: "Merriweather";
}

.gf-the-girl-next-door {
  font-family: "The Girl Next Door";
}
