@import "variables";
@import "hover";

@mixin shadow-font($darken, $clr) {
    text-shadow: -1px 0 1px darken($color: $clr, $amount: $darken), 1px 0 1px darken($color: $clr, $amount: $darken), 0 -1px 1px darken($color: $clr, $amount: $darken), 0 1px 1px darken($color: $clr, $amount: $darken);
}

@mixin bg-img-src($url) {
    background-image: url($url);
}

$header-family: "Merriweather",
serif;
$brand-family: "The Girl Next Door",
cursive;
$primary-img: "img/backgroundvector.svg";

%body-img {
    background-position: bottom 6vh right 3vw;
    background-size: 60vmin;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    height: 100vh;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    @extend html;
    font-family: $font-family-sans-serif;

    &.bg-img {

        &-primary {
            @extend %body-img;
            @include bg-img-src($primary-img);
        }
    }

    main div.row {
        background-color: $body-bg;
    }
}

.skippy {
    display: block;
    padding: 1em;
    color: $white;
    text-align: center;
    background-color: $dark;
    outline: 0;

    @include hover {
        color: $white;
    }
}

.skippy-text {
    padding: .5em;
    outline: 1px dotted;
}

.font1 {
    font-family: $header-family;

    &-shadow {
        @extend .font1;
        @include shadow-font(50%, $primary);
    }
}

.font2 {
    font-family: $brand-family;
}

.brand {
    font-size: inherit;

    &-container {
        @extend .brand;
        width: fit-content;
    }

    &-small {
        font-size: 1em;
    }
}

footer div.container {
    width: auto;
    max-width: 1100px;
    padding: 0 15px;
}

.banner {
    max-height: 130px;
    overflow: hidden;

    img {
        opacity: 0.7;
        min-height: 250px;
        max-height: 300px;
        min-width: 100%;
        filter: blur(0.8px) contrast(115%) grayscale(50%);
        object-fit: cover;
    }

    %pos {
        position: absolute;
        top: 50%;
    }

    %trans {
        transform: translateY(-50%);

    }

    &-oneliner {
        @extend %pos;
        left: 32px;
        @extend %trans;
    }

    &-brand {
        @extend %pos;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &-brand-lg {
        @extend %pos;
        right: 32px;
        @extend %trans;
    }

}