<footer class="footer bg-dark rounded-top mt-auto py-3">
  <div class="container mx-auto">
    <div class="row justify-content-between">
      <div class="col-md-4">
        <span class="text-white">Hier komt informatie.</span>
      </div>
      <div class="col-md-4 d-flex flex-column">
        <span class="text-muted">Hier komt algemene voorwaarde.</span>
        <span class="text-muted">Hier komt privacy verklaring.</span>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col d-inline-flex flex-md-row justify-content-between pt-md-3">
        <a style="font-size: .8rem;" class="mx-auto" aria-label="Github"
          href="https://github.com/BioGeekJoey/sweetfeetbyesther.nl">
          <span class="text-primary">
            <i class="fab fa-github fa-lg"></i>
          </span>
          <span class="text-white font-weight-lighter">
            Deze website is 100% open source</span>
        </a>
        <a style="font-size: .8rem;" class="mx-auto" aria-label="Copyright" href="https://github.com/BioGeekJoey/">
          <span class="text-primary">
            <i class="far fa-copyright fa-lg"></i>
          </span>
          <span class="text-white font-weight-lighter">
            Joël van der Loo</span>
        </a>
      </div>
    </div>
  </div>
</footer>
