<!-- basic info -->
<title>"{{ .Content }}"</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- optimisation info -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="Ambulant pedicure & pedicure praktijk Sweet Feet" />
<meta name="author" content=" {{ .Content }}  ">
<meta name="keywords"
  content="pedicure, voet, voeten, provoet, nagel, kalknagel, schimmelnagel, teennagel, ambulent, praktijk, Arnhem, Elden, Schaarsbergen, Elst, Oosterbeek, Velp" />
<meta name="robots" content="index, follow">
<meta name="theme-color" content="#FF69B4">
<link rel="canonical" href="{{ .Content }} ">
